body {
    background-color: #c0c0c0;
}

.header_main {
    background-color: #ff9900;
    padding-top: 10px;
}

.header_main .text-decoration-none span {
    color: #000 !important;
}

.header_main a svg path {
    stroke: #000 !important;
}

.header_main a:hover svg path {
    stroke: #fff !important;
}

.header_main .container-fluid .row {
    max-width: 726px;
}

.header_main .btn_help {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: black 0px solid;
    border-radius: 0px;
    box-shadow: 2px 3px 1px #838383;
    background-color: #f0f0f0;
    padding: 3px 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    min-width: 90px;
}

.header_main .btn_help:hover {
    opacity: 0.8;
}

.subtitle {
    margin-left: 47px;
    margin-bottom: 0;
}

.main {
    font-size: 15px;
    max-width: 800px;
}

.main hr {
    border-color: #fff;
    border-width: 4px;
    opacity: 1;
    margin-bottom: 5px;
    margin-top: 5px;
}

.main hr.line2 {
    margin-top: 4px;
}

.main .list_item {
    margin-top: 15px;
    max-width: 815px;
}

.main .list_item .item {
    display: flex;
    gap: 15px;
}

.main .list_item .item:first-child {
    margin-bottom: 15px;
}

.main .list_item .item:nth-child(2) .first_item {
    color: #3366ff;
}

.main .list_item .item:nth-child(2) .first_item span {
    /* transform: skew(-18deg, 0deg); */
    display: block;
}

.main .list_item .btn_costlist {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: black 0px solid;
    border-radius: 0px;
    box-shadow: 2px 3px 1px #838383;
    background-color: #f0f0f0;
    padding: 3px 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    min-width: 150px;
}

.main .list_item .btn_costlist:hover {
    opacity: 0.8;
}

.main .list_item .item .first_item {
    min-width: 163px;
}

.main .list_item .item:first-child .last_item {}

.main .list_item .item:first-child .last_item p {
    margin-bottom: 0;
}

.main .list_item .item:first-child .last_item p:last-child {
    color: #008000;
    margin-top: 7px;
    margin-left: 15px;
}

.main .list_item .item:first-child .last_item ol {
    margin: 0;
}

.main .list_item .item:last-child {}

.main .list_item .item:nth-child(3) {
    background-color: #fff;
    border: 1px solid #000;
}

.main .list_item .item:nth-child(3) .first_item {
    background-color: #99ccff;
    padding: 5px;
    text-align: center;
    border-right: 1px solid #000;
}

.main .list_item .item:nth-child(3) .first_item p {
    margin: 0;
}

.main .list_item .item:nth-child(3) .last_item {
    padding: 5px;
}

.main .list_item .item:nth-child(3) .last_item p {
    text-decoration: underline;
}

.main .list_item .item:last-child .first_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .list_item .item:last-child .last_item p {
    margin: 0;
    color: #000080;
    margin-left: 5px;
}

.main .list_item .btn_costlist span {
    /* transform: skew(-18deg, 0deg); */
    color: #0000ff;
}

.main .panel_price {
    background-color: #dddddd;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main .panel_price fieldset {
    border: 1px solid #838383;
}

.main .panel_price fieldset legend {
    float: none !important;
    width: auto !important;
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
}

.main .panel_price fieldset .brand {
    padding: 5px 10px 10px;
    display: flex;
    gap: 10px;
}

.main .panel_price .item {
    display: flex;
    width: 100%;
    gap: 10px;
}

.main .panel_price .item input[type="radio"] {
    margin-right: 5px;
}

.main .panel_price .item fieldset {
    width: 100%;
}

.main .panel_price .item .content_product_code {
    display: flex;
    width: 100%;
    gap: 10px;
}

.main .panel_price .item .project,
.main .panel_price .item .period {
    padding: 5px 10px 10px;
    display: flex;
    gap: 10px;
}

.main .panel_price .item .content_product_code .product_code_item {
    width: 100%;
}

.main .panel_price .item .content_product_code .product_code_item:first-child {
    max-width: 320px;
}

.main .panel_price .item .select2-container .select2-selection--single .select2-selection__rendered {
    max-width: 210px;
    font-size: 12px;
}

.main .panel_price .item .content_product_code .product_code_item .search_mode {
    padding: 5px 10px 10px;
}

.main .panel_price .item .content_product_code .product_code_item .search_mode .search_mode_item {
    display: flex;
}

.main .panel_price .item .content_product_code .product_code_item .search_mode .search_mode_item label {
    min-width: 80px;
}

.main .panel_price .item .content_product_code .product_code_item .product_code_search_mode {
    padding: 5px 10px 10px;
    display: flex;
    align-items: center;
}

.main .panel_price .item .content_product_code .product_code_item .product_code_search_mode button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: black 0px solid;
    border-radius: 0px;
    box-shadow: 2px 3px 1px #838383;
    background-color: #f0f0f0;
    padding: 3px 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    min-width: 50px;
    margin-left: 5px;
}

.main .panel_price .item .content_product_code .product_code_item .product_code_search_mode button:hover {
    opacity: 0.7;
}

.main .panel_price .item .content_product_code .product_code_item .product_code_search_mode input {
    width: 100%;
    outline: none;
    max-width: 177px;
}

.main .panel_price .item .content_product_code .product_code_item .product_code_search_mode label {
    margin-right: 5px;
}

.main .panel_price .item .content_product_code .product_code_item .file_reading_mode {
    padding: 5px 10px 10px;
}

.main .panel_price .item .content_product_code .product_code_item .file_reading_mode button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: black 0px solid;
    border-radius: 0px;
    box-shadow: 2px 3px 1px #838383;
    background-color: #f0f0f0;
    padding: 8px 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.main .panel_price .item .content_product_code .product_code_item .file_reading_mode button:hover {
    opacity: 0.7;
}

.main .panel_price .item .content_product_code .product_code_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main .panel_price .item:nth-child(4) {
    display: flex;
}

.main .panel_price .item:nth-child(4) .item_one {
    width: 100%;
}

.main .panel_price .item:nth-child(4) .header {
    display: flex;
}

.main .panel_price .item:nth-child(4) .header label {
    width: 100%;
}

.main .panel_price .item:nth-child(4) .header label:last-child {
    justify-content: flex-end;
    display: flex;
}

.main .panel_price .item:nth-child(4) .tool {
    display: flex;
    gap: 5px;
}

.main .panel_price .item:nth-child(4) select {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(192, 192, 192);
    outline: none;
    min-height: 160px;
    font-size: 12px;
}

.main .panel_price .item:nth-child(4) .tool button {
    min-width: 50px;
    color: #000000;
    border: black 0px solid;
    border-radius: 0px;
    box-shadow: 2px 3px 1px #838383;
    background-color: #f0f0f0;
    padding: 3px 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.main .panel_price .item:nth-child(4) .item_two {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 24px;
}

.main .panel_price .item:nth-child(4) .item_two button {
    max-width: 40px;
    min-width: 35px;
    display: block;
    width: 100%;
    align-items: center;
    color: #000000;
    border: black 0px solid;
    border-radius: 0px;
    box-shadow: 2px 3px 1px #838383;
    background-color: #f0f0f0;
    padding: 3px 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.main .panel_price .item:nth-child(4) .tool button:hover {
    opacity: 0.8;
}

.main .panel_price .item:nth-child(4) .item_two button svg path {
    stroke: rgb(139, 139, 139);
}

.main .panel_price .item:nth-child(4) .item_two button:hover {
    opacity: 0.7;
}

.main .panel_price .item:nth-child(4) .item_three {
    width: 100%;
}

.main .panel_price .item:last-child {
    display: flex;
    justify-content: flex-end;
}

.main .panel_price .item:last-child button {
    min-width: 50px;
    color: #000000;
    border: black 0px solid;
    border-radius: 0px;
    box-shadow: 2px 3px 1px #838383;
    background-color: #f0f0f0;
    padding: 3px 6px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    width: 100%;
    max-width: 170px;
    padding: 8px 6px;
}

.main .panel_price .item:last-child button:hover {
    opacity: 0.8;
}

.select2-container {
    width: 100% !important;
}

html {
    overflow-x: hidden;
}

.select2-results__option {
    font-size: 12px;
}

.btn_ok_warning {
    color: #000;
    width: 70px;
    height: 30px;
    margin-bottom: 1px;
    display: block;
    border: black 0px solid;
    background-color: #f0f0f0;
    padding: 3px 6px;
    text-align: center;
    text-decoration: none;
    border-radius: 0px;
    box-shadow: 2px 3px 1px #838383;
    margin-left: auto;
}

.head-color {
    background-color: #ff9900;
}

.head-color .container-fluid {
    max-width: 800px;
    margin: 0;
    padding: 20px;
}

.main .container-fluid {
    max-width: 800px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn_help {
    background-color: #fff;
    box-shadow: 2px 3px 1px #838383;
    border-radius: 0;
    color: #333399;
}

.btn_help:hover {
    background-color: #fff;
    opacity: 0.8;
}
