h1,
h2,
h3,
h4 {
    font-size: 18px;
}

body {
    font-size: 14px;
    font-family: sans-serif!important;
}
button {
    font-family: sans-serif!important;
}

.loading {
    height: 100%;
    position: fixed;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

.loading::before {
    width: 100%;
    height: 100%;
    background-color: #000;
    content: "";
    position: absolute;
    border-radius: 7px;
    opacity: 0.4;
}

.loading:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.lds-ellipsis {
    display: none;
    position: absolute;
    width: 100%;
    height: 39px;
    align-items: center;
    justify-content: center;
    background: rgb(201 201 201 / 50%);
    z-index: 5;
}

.lds-ellipsis div {
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #9b9b9b;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    display: inline-flex;
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}


.swal2-popup {
    font-size: 14px;
}

.swal2-confirm,
.swal2-cancel {
    box-shadow: 2px 3px 1px #838383;
    background-color: #f0f0f0 !important;
    padding: 10px 20px !important;
    color: #060606 !important;
    border-radius: 0 !important;
    min-width: 110px !important;
}

.swal2-close {
    width: 27px;
    height: 21px;
    margin-right: 10px;
    margin-top: 10px;
}

.modal .modal-body button {
    min-width: 110px;
}

.modal .modal-body .btn-close {
    min-width: 20px;
}

.role-disabled{
    pointer-events: none;
    background-color: #c1c1c1!important;
    opacity: 0.8;
}
.z-sweetalert2 {
    z-index: 999999999;
}